@import url('bootstrap.min.css');
@import url('bootstrap-responsive.min.css');
@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic,cyrillic-ext);

@media (max-width: 979px){
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
  .wrapper{
    padding: 60px 20px 20px 20px !important;
  }
}

@media (max-width: 767px){
  #slide{
    margin: 0 -20px;
  }
}

a.anchor{display: block; position: relative; top: -50px; visibility: hidden;}

#slide {
  min-width: 100%;
  overflow: hidden;
  height: 440px;
  background: url(/img/slide.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer{
  background-color: #f5f5f5;
  height: 60px;
  margin-top: 20px;
}

footer p{
  padding-top: 20px;
}

.wrapper{
  padding: 80px 20px 20px 20px;
  text-shadow: 0 1px 1px rgba(0,0,0,.9);
  color: #fff;
}

.wrapper iframe{
  margin-top: -40px;
}

.brand, .wrapper > h1, .wrapper > h3{
  font-family: 'Lobster', cursive;
}

.brand{
  color: #08c !important;
}

.header .feedback{
  margin-top: 90px;
}

.navbar a > i {
  opacity: 0.8;
}

.navbar a:hover > i {
  opacity: 1;
}
/*
section {
  margin-top:20px;
}

.subhead {
  padding-bottom: 0;
  margin-bottom: 9px;
}

.subhead h1 {
  font-size: 54px;
}
*/
.facebook {
  background: url('../img/facebook_icon.jpg') no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.social {
  float: left;
  padding: 5px 5px 0 0;
}