<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>  <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>  <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js" lang="en">       <![endif]-->
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>kievfprog</title>
<meta name="description" content="{{ event }}">

<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="css/styles.css">
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<a href="https://raw.github.com/proger/kievfprog/master/event.yaml"><img style="position: absolute; top: 40px; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="для гиков"></a>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#registration"><strong>{{ event }}</strong></a>
            <div class="pull-right">
                <a href="{{ ical }}" class="btn btn-info">ical</a> 
                <a href="{{ facebook }}" class="btn btn-info">facebook</a>
            </div>
            <!--
            <ul class="nav" id="main-menu-left">
                <li><a href="#agenda">Доклады</a></li>
                <li><a href="#info">Место проведения</a></li>
            </ul>
            -->
        </div>
    </div>
</div>

<div id="slide">
    <div class="container">
        <div class="wrapper" id="registration">
            <h1>{{ event }}</h1>
            <h3>{{ date }} </h3>
            <br/>
            <p>
                <a href="{{ rsvp }}" class="btn btn-primary btn-large">Регистрация</a>
                <a href="{{ twitter }}" class="btn btn-primary btn-large">#kievfprog</a>
            </p>
            <p>
            <a href="{{ rsvp1 }}" class="btn btn-warning">Дополнительная регистрация</a>
            </p>
            <!-- <iframe width="100%" height="400" src="{{ streamurl }}" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe> -->
        </div>
    </div>
</div>
<div class="container">

    <!-- <section>
        <iframe width="100%" height="437" src="{{ streamurl }}" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe>
      </section> -->

    <section>
        <a class="anchor" id="agenda"></a>
        <div>
            <h2>Доклады {{#non-finalized-timing}}<small>(расписание будет меняться)</small>{{/non-finalized-timing}}</h2>
        </div>

        {{#talks}}
        <div class="media" style="float: left; width: 340px; padding-right: 10px;">
            <h5>
                <span class="badge badge-info">{{ timing }}</span>
                {{ talk }}
            </h5>
            <img class="pull-left img-rounded media-object" data-src="{{ photo }}" style="width: 92px; height: 92px;" src="{{ photo }}">
            <div class="media-body">
                <h5 class="media-heading">
                    <a href="{{ url }}">{{ speaker }}</a>
                </h5>

                {{ description }}
            </div>
        </div>
        {{/talks}}

    </section>

    <div style="clear: both; padding: 10px;"></div>

    <section>
        <a class="anchor" id="info"></a>
        <div>
            <h2>Где</h2>
        </div>
        <div class="row">
            <div class="span4">
                <h4>{{ venue }}</h4>
                <address>
                    {{ venue-address }}
                </address>
            </div>

            <div class="span8">
                <h4>Карта</h4>
                <div>
                    <div id="ymap" style="width: 450px; height: 350px;"></div>
                    <script type="text/javascript">
                    function domap(ymaps) {
                        var map = new ymaps.Map("ymap", {
                            center: {{ venue-center }},
                            zoom: 16,
                            type: "yandex#map"
                        });
                        map.controls
                            .add("zoomControl")
                            .add("mapTools");
                        map.geoObjects
                            .add(new ymaps.Placemark({{ venue-center }}, {
                                balloonContent: "{{ venue }}"
                            }, {
                                preset: "twirl#greenDotIcon"
                            }));
                    };
                    </script>
                    <script type="text/javascript" src="http://api-maps.yandex.ru/2.0-stable/?lang=en-US&coordorder=longlat&load=package.full&wizard=constructor&onload=domap"></script>
                </div>
            </div>

        </div>
    </section>

    <section>
        <a class="anchor" id="archive"></a>

        <div class="row">
            <div class="span12">
                <h2>Прошедшие встречи</h2>
                <div>
                    <ul>
                        <li><a href="http://hotcode.org/program-ru/stages-ru/functional/">FP stage на Hotcode 31 мая - 1 июня 2013</a></li>
                        <li><a href="http://dou.ua/calendar/3151/">Курсы Erlang от @5HT 13-14 апреля 2013</a></li>
                        <li><a href="http://dou.ua/calendar/3068/">kiev::fprog 27 марта 2013</a></li>
                        <li><a href="http://dou.ua/calendar/2513/">Erlang от @darkproger 14 ноября 2012</a></li>
                        <li><a href="http://dou.ua/calendar/2265/">kiev::fprog 27 сентября 2012</a></li>
                        <li><a href="http://dou.ua/calendar/2040/">kiev::fprog 21 июля 2012</a></li>
                    </ul>
                </div>

                <h2>Еще функциональщики</h2>
                <div>
                    <ul>
                        <li><a href="https://groups.google.com/d/forum/erlang-in-ukraine">Ukraine Erlang User Group</a></li>
                        <li><a href="http://odhug.github.io/site/">Odessa Haskell User Group</a></li>
                        <li><a href="http://lambda.dn.ua">Донецкий Лямбда-клуб</a></li>
                        <li><a href="https://groups.google.com/forum/?fromgroups#!forum/lispk">Kiev Lisp User Group</a></li>
                        <li>если есть еще, отправьте <a href="https://github.com/proger/kievfprog/blob/master/index.mustache#L147">пулл реквест</a>!</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<footer>
    <div class="container">
        <p class="muted credit pull-right">&copy; {{ copyright }}</p>
    </div>
</footer>

  <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');  ga('create', 'UA-42239133-1', 'kievfprog.net');  ga('send', 'pageview');</script>

</body>
</html>
